<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-richtexteditor"
    version="1.0.0">

    <name>RichTextEditor</name>
    <description>RichTextEditor plugin for Cordova/Phonegap</description>
    <author>Actiontec</author>
    <keywords>cordova,plugin,richtexteditor</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/richtexteditor.js" name="RichTextEditor">
        <clobbers target="cordova.plugins.richtexteditor" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RichTextEditor">
                <param name="ios-package" value="RichTextEditor"/>
            </feature>
        </config-file>
        <header-file src="src/ios/RichTextEditor.h"/>
        <source-file src="src/ios/RichTextEditor.m"/>
        <header-file src="src/ios/EditorViewController.h"/>
        <source-file src="src/ios/EditorViewController.m"/>

        <header-file src="src/ios/ZSSRichTextEditor/ZSSBarButtonItem.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/ZSSBarButtonItem.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/ZSSFontsViewController.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/ZSSFontsViewController.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/ZSSRichTextEditor.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/ZSSRichTextEditor.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/ZSSTextView.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/ZSSTextView.m"/>

        <header-file src="src/ios/ZSSRichTextEditor/Third Party/CYRLayoutManager.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/CYRLayoutManager.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/CYRTextStorage.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/CYRTextStorage.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/CYRTextView.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/CYRTextView.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/CYRToken.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/CYRToken.m"/>

        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRBrightnessCursor.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRBrightnessCursor.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRCgUtil.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRCgUtil.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorCursor.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorCursor.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorPickerMacros.h"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorPickerView.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorPickerView.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorPickerViewController.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorPickerViewController.m"/>
        <header-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorUtil.h"/>
        <source-file src="src/ios/ZSSRichTextEditor/Third Party/HRColorUtil.m"/>


        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSbgcolor.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSbgcolor@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSbold.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSbold@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSScenterjustify.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSScenterjustify@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSclearstyle.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSclearstyle@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSfonts.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSfonts@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSforcejustify.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSforcejustify@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh1.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh1@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh2.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh2@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh3.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh3@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh4.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh4@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh5.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh5@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh6.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSh6@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSShorizontalrule.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSShorizontalrule@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSimage.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSimage@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSimageDevice.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSimageDevice@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSindent.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSindent@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSinsertkeyword.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSinsertkeyword@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSitalic.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSitalic@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSkeyboard.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSkeyboard@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSleftjustify.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSleftjustify@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSlink.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSlink@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSorderedlist.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSorderedlist@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSoutdent.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSoutdent@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSparagraph.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSparagraph@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSpicker.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSpicker@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSquicklink.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSquicklink@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSredo.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSredo@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSrightjustify.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSrightjustify@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSstrikethrough.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSstrikethrough@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSsubscript.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSsubscript@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSsuperscript.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSsuperscript@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSStable.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSStable@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSStextcolor.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSStextcolor@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunderline.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunderline@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSundo.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSundo@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunlink.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunlink@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunorderedlist.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSunorderedlist@2x.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSviewsource.png" />
        <resource-file src="src/ios/ZSSRichTextEditor/Images/ZSSviewsource@2x.png" />

        <resource-file src="src/ios/ZSSRichTextEditor/ZSSRichTextEditor.js" />
        <resource-file src="src/ios/ZSSRichTextEditor/JSBeautifier.js" />
        <resource-file src="src/ios/ZSSRichTextEditor/jQuery.js" />
        <resource-file src="src/ios/ZSSRichTextEditor/editor.html" />

        <framework src="CoreGraphics.framework" />
        <framework src="CoreText.framework" />

    </platform>

    <!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="RichTextEditor">
				<param name="android-package" value="com.actiontec.tiegushi.RichTextEditor"/>
			</feature>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="jp.wasabeef.richeditor.RichEditorActivity"
                android:label="编辑文字"
                android:theme="@style/richEditorTheme" >
            </activity>
        </config-file>

        <source-file src="src/android/richeditor-android/build-richeditor.gradle" target-dir="src/.." />
        <framework src="src/android/hotshare_editor.gradle" custom="true" type="gradleReference" />
        <framework src="com.android.support:appcompat-v7:23.4.0" />

        <!--<resource-file src="src/android/libs/editor-release.aar" target="libs/editor-release.aar" />-->
        <!--<resource-file src="src/android/libs/utils-1.11.0.aar" target="libs/utils-1.11.0.aar" />
        <resource-file src="src/android/libs/design-23.4.0.aar" target="libs/design-23.4.0.aar" />
        <resource-file src="src/android/libs/constraint-layout-1.0.2.aar" target="libs/constraint-layout-1.0.2.aar" />-->

        <asset src="src/android/richeditor-android/richeditor/src/main/assets/" target="richeditor" />

        <source-file src="src/android/richeditor-android/richeditor/src/main/java/jp/wasabeef/richeditor/RichEditorActivity.java" target-dir="src/jp/wasabeef/richeditor" />
        <source-file src="src/android/richeditor-android/richeditor/src/main/java/jp/wasabeef/richeditor/RichEditor.java" target-dir="src/jp/wasabeef/richeditor" />
        <source-file src="src/android/richeditor-android/richeditor/src/main/java/jp/wasabeef/richeditor/Utils.java" target-dir="src/jp/wasabeef/richeditor" />
        <source-file src="src/android/RichTextEditor.java" target-dir="src/com/actiontec/tiegushi" />

        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/bg.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/bg_color.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/blockquote.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/bold.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/bullets.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h1.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h2.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h3.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h4.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h5.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/h6.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/html_edit.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/indent.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/insert_image.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/insert_link.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/italic.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/justify_center.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/justify_left.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/justify_right.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/numbers.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/outdent.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/redo.png" target-dir="res/drawable-xxhdpi"/>

        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/strikethrough.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/subscript.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/superscript.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/txt_color.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/underline.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/drawable-xxhdpi/undo.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/layout/richeditor_activity_main.xml" target-dir="res/layout"/>
        <source-file src="src/android/richeditor-android/richeditor/src/main/res/menu/menu_titlebar_done.xml" target-dir="res/menu"/>

        <resource-file src="src/android/richeditor-android/richeditor/src/main/res/values/colors.xml" target="res/values/richeditor-colors.xml"/>
        <resource-file src="src/android/richeditor-android/richeditor/src/main/res/values/strings.xml" target="res/values/richeditor-strings.xml"/>
        <resource-file src="src/android/richeditor-android/richeditor/src/main/res/values/styles.xml" target="res/values/richeditor-styles.xml"/>
        <resource-file src="src/android/richeditor-android/richeditor/src/main/res/values-zh-rCN/strings.xml" target="res/values-zh-rCN/richeditor-strings.xml"/>
        <!--<config-file target="res/values/strings.xml" parent="/resources">
            <string name="editor_app_name">Editor</string>
        </config-file>
        <config-file target="res/values/styles.xml" parent="/resources">
            <style name="richEditorTheme" parent="@style/Theme.AppCompat.Light">
                <item name="android:textColor">#0033CC</item>
                <item name="android:textSize">22sp</item>
            </style>
        </config-file>
        <config-file target="res/values-zh-rCN/strings.xml" parent="/resources">
            <string name="editor_app_name">编辑器</string>
            <string name="app_name">richeditor-android</string>
            <string name="launcher_name">@string/app_name</string>
            <string name="activity_name">@string/launcher_name</string>
        </config-file>
        <config-file target="res/values/colors.xml" parent="/resources">
            <color name="lightgray">#D3D3D3</color>
            <color name="lightgrey">#D3D3D3</color>
        </config-file>-->
	</platform>

</plugin>
