.editorInstrucations{}

._popPage{
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  background: #efefef;
  .container{
    margin: 15px;
    margin-top: 55px;
  }
}
._popPage_open {
  overflow: hidden;
}