<template name="floorplanMain">
  <header id="header">	
    <div class="container">
      <a href="#"  data-activates="nav-mobile" class="button-collapse top-nav hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="user-details">
        <div class="row ">
          <div class="col s2">
            <img src="/avatar3@3x.png" alt="" class="user-avatar responsive-img">
          </div>
          <div class="class col s1">
              <a href="#" class="username">{{username}}</a>
          </div>
          <div class="col s3 offset-s6">
              <a href="#" class="logout">退出</a>
          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li class='devices-detail'>
        {{> devicesList }}
      </li>
    </ul>
  </header>

  <main>
    <div class="section" id="index-banner">
      
    </div>
    <div class="container">
      <div class="row">
        <div class="floorplan col s12">
            {{> floorplan}}
          </div>
      </div>
    </div>
  </main>
<!-- 
  <div class="row">
    <div class="floorplan col s12 l9">
      {{>floorplan}}
    </div>
    <div class="col s12 l3">
      <div class="row">
        {{>devicesList}}
      </div>
      <div class="row">
        {{>info}}
      </div>
    </div>
  </div> -->
</template>