<template name="floorplanMain">
  <header id="header">	
    <div class="container">
      <a href="#"  data-activates="nav-mobile" class="button-collapse top-nav hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="user-details">
        <ul class="collection">
          <li class="collection-item user-profile">
                <img src="/avatar3@3x.png" alt="" class="user-avatar">
                <!-- <span class="username">Neo</span> -->
                <span class="user-name">{{username}}</span>
                <a href="#!" class="secondary-content">退出</a>
          </li>
        </ul>
      </li>
      <li class="no-padding organizations">
        <ul class="collapsible collapsible-accordion">
          {{#each organizations}}
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal">{{group_name}}</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="">camera1</a></li>
                  <li><a href="">camera2</a></li>
                  <li><a href="">camera3</a></li>
                  <li><a href="">camera4</a></li>
                </ul>
              </div>
            </li>
          {{/each}}
        </ul>
      </li>
      <!-- <li class='devices-detail'>
        {{> devicesList }}
      </li> -->
    </ul>
  </header>

  <main>
    <div class="section" id="index-banner">
      
    </div>
    <div class="container">
      <div class="row">
        <div class="floorplan col s12">
            {{> floorplan}}
          </div>
      </div>
    </div>
  </main>

  <!-- <div class="row">
    <div class="floorplan col s12 l9">
      {{>floorplan}}
    </div>
    <div class="col s12 l3">
      <div class="row">
        {{>devicesList}}
      </div>
      <div class="row">
        {{>info}}
      </div>
    </div>
  </div> -->
</template>
